tqdm==4.67.1
rich==14.0.0
torch==2.7.1
numpy==2.2.6
platformdirs==4.2.0
ctranslate2==4.6.0
tokenizers==0.21.2
huggingface-hub==0.33.4
accelerate==0.25.0
optimum==1.26.1
transformers==4.53.0
openai-whisper==20250625
nvidia-ml-py==12.575.51
